#panel {
  width: 318px;
  height: 480px;
  background-color: #080808;
  color: rgb(222, 222, 222);
  table {
    tr {
      td {
        padding: 5px;
      }
    }
  }
  .match {
    display: flex;
    width: 100%;
    flex-basis: auto;
  }
}
