.summary {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.06);
  .stats {
    display: flex;

    font-size: 13px;
    > div {
      display: flex;
      align-items: center;

      gap: 10px;
    }
  }
  .w {
    color: rgb(85, 234, 0);
  }
  .l {
    color: rgb(234, 0, 0);
  }
}
